//- Content Section
#about.scrollto.clearfix
  .row.no-padding-bottom.clearfix

    //- Content Left Side
    .col-3
      blockquote.testimonial.text-right.bigtest
        q 
         | It is paradoxical, yet true, to say, that the more we know, the 
         | more ignorant we become in the absolute sense, for it is only 
         | through enlightenment that we become conscious of our 
         | limitations. Precisely one of the most gratifying results of  
         | intellectual evolution is the continuous opening up of new and 
         | greater prospects.
        footer — Nikola Tesla
      //- End Content Left Side-->

    //- Content of the Right Side
    .col-3
      .section-heading
        h3 ABOUT ME
        h2.section-title Focusing On What Matters Most
        p.section-subtitle 
          | I rather spend an eternity improving the things I have the power
          | to change than one second on the things that I cannot.

      p
        | I've always been interested in programming but never had the confidence
        | to persue it. Instead I secretly worked on tweaking web pages and my customizing
        | anything I could from programs I used to the operating system itself.
        | I've been programming for almost 4 years now and I'm mostly self taught. 
        | My lanugage backround is in OOP styles with Python and a little Java. 
        | I am always looking to expand my scope because I really feel that having 
        | at least a general comprehension of many different languages helps to 
        | see problems in new ways.

      p
        | I've dabbled in Java, messed around with Rust, scanned through C++, and
        | work a lot lately in Node.js and Python 3. I've recently made a conscious
        | decision at this point in my life to persue my passion for code and development
        | with 100% of my focus. It's been a long journey so far and I expect it
        | to be longer yet but that is part of the fun and excitement of the journey.

      p
        | Right now I live in the suburbs of New Jersey and spend a good amount
        | of time with family. I'd love to make my way over to the west coast ,

      //- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
      a(href="#" data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox") WATCH VIDEO 
       i.fa.fa-play(aria-hidden="true")
    //-End Content Right Side

    .col-3
      //- img(src="images/dancer.jpg" alt="Dancer")

//- End of Content Section
