//- Content Section
#services.scrollto.clearfix
  .row.no-padding-bottom.clearfix

    //- Content Left Side
    .col-3
      blockquote.testimonial.text-right.bigtest
        q 
         | It is paradoxical, yet true, to say, that the more we know, the 
         | more ignorant we become in the absolute sense, for it is only 
         | through enlightenment that we become conscious of our 
         | limitations. Precisely one of the most gratifying results of  
         | intellectual evolution is the continuous opening up of new and 
         | greater prospects.
        footer — Nikola Tesla
      //- End Content Left Side-->

    //- Content of the Right Side
    .col-3
      .section-heading
        h3 BELIEVING
        h2.section-title Focusing On What Matters Most
        p.section-subtitle 
          | I rather spend an eternity improving the things I have the power
          | to change than one second on the things that I cannot.

      p 
        | I'm mostly a self taught programmer. I've made a concious decision at
        | this point in my life to persue my passion for code and development with
        | 100% of my focus. It's been a long journey and I expect it to be longer yet.
        | But that journey is half of the fun.

      p
       | I'm currenly living in New Jersey and 
       | 

      //- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
      a(href="#" data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox") WATCH VIDEO 
       i.fa.fa-play(aria-hidden="true")
    //-End Content Right Side

    .col-3
      //- img(src="images/dancer.jpg" alt="Dancer")

//- End of Content Section
