//- Content Section
section#about.scrollto.clearfix
  .row.clearfix

    //- Content Left Side
    .col-3
      blockquote.testimonial.text-right.bigtest
        q 
         | It is paradoxical, yet true, to say, that the more we know, the 
         | more ignorant we become in the absolute sense, for it is only 
         | through enlightenment that we become conscious of our 
         | limitations. Precisely one of the most gratifying results of  
         | intellectual evolution is the continuous opening up of new and 
         | greater prospects.
        footer — Nikola Tesla
      //- End Content Left Side-->

    //- Content of the Right Side
    .col-2-3
      .section-heading
        h3 ABOUT ME
        h2.section-title Some More Inside Info
        p.section-subtitle 
          | "I rather spend an eternity improving the things I have the power
          | to change than one second on the things that I cannot." 
        p(style='text-align: right').section-subtitle — Myself

      br

      p
        | I've always had an interest in programming but never had the confidence
        | to pursue it as a career until now. Almost 5 years have passed since the 
        | faithful day I took to my keyboard and wrote my first program. I'm 
        | almost entirely self taught so it has taken me long time to collect 
        | the skills I have today. I took a few classes in college and spent a lot 
        | of time tweaking web pages, customizing my favorite programs, and even 
        | scripting my operating system to do all the magic I wanted. 
        | That process of curiosity and self discovery, constantly hacking and 
        | breaking things to understand how they worked, taught me a lot.

      p
        | My introduction to programming began with Object-Oriented styles using 
        | Python and basic Java. I am always looking to expand my 
        | language scope because I really believe that being a polyglot, helps 
        | programmers analyze problems in more detailed and complete ways. 
        | I've dabbled in Java, messed around with Rust, scanned through C++, 
        | but I work in Node.js and Python 3.

      p
        | I've made a decision at this point in my life to go after my passion 
        | for code and development with 100% of my focus. 
        | So far, it's been a long journey and I expect it to be longer yet 
        | but that is part of the fun and excitement of this journey.

      p
        | Right now I'm living in the suburbs of New Jersey and spend a good amount 
        | of time with family. In my free time I enjoy meditation 
        | and try to practice yoga at least once a week. Mind/body balance is 
        | very important to me and a key part of my personal productivity.

      //- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
      
      //- a(href="#" data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox") WATCH VIDEO 
       i.fa.fa-play(aria-hidden="true")

    //-End Content Right Side

    //- .col-3
      //- img(src="images/dancer.jpg" alt="Dancer")

//- End of Content Section
