extends ../../layouts/default

block content
  .row.no-padding-bottom.extra-big-padding-top
    h1 Opps Nothing Here
    p Sorry, not sure what you were looking for.
    a.button(href="/") Take me back
