extends ../layouts/default

block banner-content
 #banner-content.row.clearfix
  .col-38
   .section-heading
    h1 HELLO! I'M JUSTIN BELLERO
    h2 
     | I'm a freelancer, developer, Yogi, and an Internet-of-Things 
     | enthusist. I spend a good amount of free-time reading through
     | documentation and researching open software I like to follow.
     | I do my best to learn one new thing each day because I believe
     | lifelong learning is the key to happiness and staying sharp.
   //- Call to Action
   a.button(href="/contact") Hire Me!
   //- End Call to Action


block content
  //- Content Components
  include components/aboutme
  include components/technologies




block footer
 include components/footer

block js
 script(src='js/wow.min.js')
 script(src='js/jquery.enllax.min.js')
 script(src='js/jquery.easing.min.js')
 script(src='js/jquery.waypoints.min.js')
