h1 {
    padding: 20px 0;
}

h2 {
    padding: 14px 0;
}

h3 {
    padding: 10px 0;
}

h4 {
    padding: 7px 0;
}

h5 {
    padding: 7px 0;
}

h6 {
    padding: 7px 0;
}

/* Text Alignment */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Section Headings */

.section-heading {
    padding: 0 0 15px 0;
}

.section-subtitle {
    font-size: 18px;
    padding-top: 0;
}

.section-heading h3 {
    font-size: 14px;
    font-weight: bold;
    color: #ccc;
    letter-spacing: 2px;
    padding-bottom: 0;
}
