#landing-footer {
    clear: both;
}

#landing-footer .row {
    padding: 0;
}

#landing-footer p {
    margin: 0;
}

#landing-footer ul {
    list-style: none;
    text-align: center;
}

#landing-footer li {
    display: inline-block;
}
