section {
    clear: both;
    overflow: hidden;
}

/* Rows and Columns */

.row {
    max-width: 1245px;
    margin: 0 auto;
    padding: 75px 0;
    position: relative;
}

.row-heading {
  padding-top: 175px;
  padding-left: 20px;
}

.no-padding-bottom .row, .no-padding-bottom div, .no-padding-bottom.row {
    padding-bottom: 0;
}

.no-padding-top.row, .no-padding-top div {
    padding-top: 0;
}

.big-padding-top {
    padding-top: 75px !important;
}

.extra-big-padding-top {
    padding-top: 170px !important;
}

.big-padding-bottom {
    padding-bottom: 85px !important;
}

.extra-big-padding-bottom {
    padding-bottom: 170px !important;
}
/* Targets all elements */

[class*='col-'] {
    float: left;
    padding: 20px;
}

#clients .col-2-3 [class*='col-'] {
    padding: 0;
}

/* Clearfix */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Main Widths */

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.33%;
}

.col-4 {
    width: 25%;
}

.col-5 {
    width: 20%;
}

.col-6 {
    width: 16.6666666667%;
}

.col-7 {
    width: 14.2857142857%;
}

.col-8 {
    width: 12.5%;
}

.col-9 {
    width: 11.1111111111%;
}

.col-10 {
    width: 10%;
}

.col-11 {
    width: 9.09090909091%;
}

.col-12 {
    width: 8.33%;
}

.col-2-3 {
    width: 66.66%;
}

.col-3-4 {
    width: 75%;
}

.col-9-10 {
    width: 90%;
}

/* Golden Ratio */
.col-61 {
    width: 61.8%;
}

.col-38 {
    width: 38.2%;
}

.list-group {
  overflow-x: auto;
}

.list-group .list-group-item {
  padding: 0px 8px;
}
